
<h3>Listado de peliculas</h3>
<hr />
<a href="#movies/new" class="btn btn-primary">Nueva</a><br /><br />
<div class="input-append">
  <input type="text" class="input-xlarge search" placeholder="Buscar peliculas por titulo" />
  <button type="button" class="btn doSearch">Buscar!</button>
</div>
<div class="input-prepend">
	<span class="add-on">Genero</span>
  <select class="input genre"></select>
</div>

<div class="pagination-container"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th width="15%">Genero</th>
      <th width="8%">Rating</th>
      <th width="15%">-</th>
    </tr>
  </thead>
  <tbody class="list-container">
    <tr>
      <td colspan="4">Obteniendo peliculas...</td>
    </tr>
  </tbody>
</table>
