  <td>
    <%= model.get('name') + ' ' + model.get('lastname') %><br>
    <a href="mailto:<%= model.get('email') %>"><%= model.get('email') %></a>
  </td>
  <td><%= model.get('level') === 'admin'? 'Administrador' : 'Cliente' %></td>
  <td>
    <a class="btn btn-small btn-info" title="+Info" href="#users/detail/<%= model.id %>"><i class="icon-white icon-info-sign"></i></a>
    <a class="btn btn-small btn-warning" title="Editar" href="#users/edit/<%= model.id %>"><i class="icon-white icon-edit"></i></a>
    <button class="btn btn-small btn-danger remove" title="Eliminar" value="<%= model.id %>"><i class="icon-white icon-remove"></i></button>
  </td>
