
<h3><%= model.id !== ''? 'Editar' : 'Nuevo' %> usuario</h3>
<hr />
<form class="form-horizontal user-form" action="#users/new/save">
	<div class="control-group">
		<label class="control-label">Nombre <em>(*)</em></label>
		<div class="controls">
			<input type="text" name="name" value="<%= model.get('name') %>" required title="Ingresa el nombre del usuario" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Apellido <em>(*)</em></label>
		<div class="controls">
			<input type="text" name="lastname" value="<%= model.get('lastname') %>" required title="Ingresa el apellido del usuario" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">E-mail <em>(*)</em></label>
		<div class="controls">
			<input type="email" name="email" value="<%= model.get('email') %>" required title="Ingresa el e-mail del usuario" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Nivel <em>(*)</em></label>
		<div class="controls">
	    	<select class="input level" name="level" required title="Selecciona el nivel del usuario">
					<option <% if (model.get('level') === ''){ print('selected'); } %> value="">Seleccionar</option>
					<option <% if (model.get('level') === 'admin'){ print('selected'); } %> value="admin">Administrador</option>
					<option <% if (model.get('level') === 'client'){ print('selected'); } %> value="client">Cliente</option>
	    	</select>
		</div>
	</div>
	<% if (!!model.id) { %>
	<input type="hidden" name="_id" value="<%= model.id %>" required />
	<% } %>
	<div class="form-actions">
		<a href="#users" class="btn">Cancelar</a>
		<button type="submit" class="btn btn-primary save">Guardar</button>
	</div>
</form>
